n8n/seo-regulatory-radar.workflow.json
{
  "name": "KarbonLens — Regulatory Radar",
  "meta": {
    "description": "Weekly Regulatory Radar — LLM extracts structured regulatory events from ingested gov/registry carbon news, posts to the citation-gated publish endpoint (review queue -> regulatory_events). See docs/runbooks/seo-autopilot.md."
  },
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true
  },
  "nodes": [
    {
      "id": "trigger",
      "name": "Schedule (Fri 07:00)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -360,
        0
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 7 * * 5"
            }
          ]
        }
      }
    },
    {
      "id": "get_opps",
      "name": "Get Opportunities",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -140,
        0
      ],
      "parameters": {
        "method": "GET",
        "url": "https://karbonlens.com/api/seo/opportunities",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "regulatory"
            },
            {
              "name": "limit",
              "value": "1"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "KarbonLens Autopilot"
        }
      }
    },
    {
      "id": "build_prompt",
      "name": "Pick Top + Build Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        0
      ],
      "parameters": {
        "jsCode": "const res = $input.first().json;\nconst opps = (res.opportunities || []).filter(o => o.jobType === 'regulatory');\nif (opps.length === 0) { return []; }\nconst opp = opps[0];\nconst system = [\n  'You are a regulatory analyst for KarbonLens. Extract ONLY genuine Indonesian carbon-market regulatory developments from the provided gov/registry news items.',\n  '- Ignore ordinary market news, opinion, or company PR.',\n  '- Each event: eventDate (YYYY-MM-DD), ministry, documentType, documentNumber (or null), title, documentUrl (the item EXACT url), summaryEn (1-3 original sentences, never copied), summaryId (optional), importance (high|medium|low), tags[], isUpcoming (bool).',\n  '- Never invent document numbers or dates. Only use URLs from the provided list.',\n  'Return ONLY JSON: { \\\"events\\\": [ ... ] } (may be empty if none qualify).'\n].join('\\n');\nconst openaiBody = { model: 'gpt-5.5', response_format: { type: 'json_object' }, messages: [ { role: 'system', content: system }, { role: 'user', content: opp.brief } ] };\nreturn [{ json: { opp, openaiBody } }];"
      }
    },
    {
      "id": "openai",
      "name": "OpenAI — Generate Draft",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        300,
        0
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.openaiBody) }}",
        "options": {
          "timeout": 120000
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "OpenAI Autopilot"
        }
      }
    },
    {
      "id": "build_payload",
      "name": "Build Publish Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        0
      ],
      "parameters": {
        "jsCode": "const prev = $('Pick Top + Build Prompt').first().json;\nconst opp = prev.opp;\nconst ai = $input.first().json;\nconst content = ai.choices && ai.choices[0] && ai.choices[0].message ? ai.choices[0].message.content : '{}';\nlet artifact; try { artifact = JSON.parse(content); } catch (e) { throw new Error('OpenAI did not return JSON: ' + String(content).slice(0,200)); }\nconst usage = ai.usage || {};\nreturn [{ json: { jobType:'regulatory', ref:opp.ref, externalId:String($execution.id), llmModel:prev.openaiBody.model, tokensIn:usage.prompt_tokens, tokensOut:usage.completion_tokens, targetQuery:opp.targetQuery, events: artifact.events || [] } }];"
      }
    },
    {
      "id": "publish",
      "name": "Publish (gated)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        740,
        0
      ],
      "parameters": {
        "method": "POST",
        "url": "https://karbonlens.com/api/seo/autopilot/publish",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 60000,
          "response": {
            "response": {
              "neverError": true,
              "fullResponse": true
            }
          }
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "KarbonLens Autopilot"
        }
      }
    }
  ],
  "connections": {
    "Get Opportunities": {
      "main": [
        [
          {
            "node": "Pick Top + Build Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pick Top + Build Prompt": {
      "main": [
        [
          {
            "node": "OpenAI — Generate Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI — Generate Draft": {
      "main": [
        [
          {
            "node": "Build Publish Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Publish Payload": {
      "main": [
        [
          {
            "node": "Publish (gated)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule (Fri 07:00)": {
      "main": [
        [
          {
            "node": "Get Opportunities",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}